attr==0.3.2
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==44.0.2
Cython==3.0.12
dl==0.1.0
docutils==0.21.2
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.5
Jinja2==3.1.6
joblib==1.4.2
keyring==25.6.0
lockfile==0.12.2
mock==5.2.0
numpy==2.0.2
pandas==2.2.3
Pillow==11.1.0
protobuf==3.20.3
pyOpenSSL==25.0.0
PyQt5==5.15.11
PyQt5_sip==12.17.0
python_dateutil==2.9.0.post0
pywin32==310
railroad==0.5.0
scikit_learn==1.6.1
Sphinx==7.4.7
tensorflow==2.19.0
thread==2.0.5
tornado==6.4.2
trove_classifiers==2025.3.19.19
urllib3_secure_extra==0.1.0
